// Font
$primaryFont: "Montserrat", sans-serif;

// Colors
$aquaColor: #4CB8B3;
$pinkColor: #F53756;
$yellowColor: #FEF46D;
$purpleColor: #752F97;
$blackColor: #000000;
$whiteColor: #FFFFFF;

// Widths
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
